- content_for :page_title do
  = t('admin.link_blocks.title')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('admin.link_blocks.link')
        %th
    %tbody
      = render @link_blocks

= paginate @link_blocks
= link_to t('admin.link_blocks.add_new'), new_admin_link_block_path, class: 'button'
